@mixin backgroundImage($name){
  background-size: cover;
  background-reapeat: no-reapeat;
  background-position: 0 0;
  $url:"/assets/img/#{$name}";
  background: url($url); 
}

.overlay{
  padding: 30px;     
}

@media (max-width: 700px){
  .overlay h1{
    font-size: 22px;
  }
}

@media (max-width: 700px){
  .overlay p{
    font-size: 15px;
  }
}

.overlay p {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
  }
  
// big image as background
.big-image{
  @include backgroundImage ("side-cupcakes.png");

  height: 80vh;
  width: 100vw;
  position: relative;
  background-position: 100% 100%;
  background-size: cover;
}