html, body, div, span, object, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, em,
img, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table,
caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu,
nav, section, menu, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

article, aside, figure, footer, header, hgroup, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

input, select {
  vertical-align: middle;
}

body, select, input, textarea {
  text-rendering: optimizeLegibility;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "IBM Plex Sans", sans-serif;
  letter-spacing: 1.5px;
  text-rendering: optimizeLegibility;
}

html {
  -webkit-font-smoothing: antialiased;
}

select {
  margin: 8px 0 8px 0;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  background-color: #fdfdfd;
}

h1 {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 70px;
}

h2 {
  font-size: 30px;
}

.btn-dark {
  border-radius: 0px;
  margin-top: 10px;
}

.btn-secondary {
  border-radius: 0px;
  margin-top: 10px;
  background-color: rgba(85, 144, 212, 0.688);
}
.btn-secondary:hover {
  background-color: white;
  color: black;
}

nav {
  background-color: #dbdbf5;
  opacity: 0.9;
  background-image: repeating-linear-gradient(45deg, rgba(92, 111, 219, 0.4980392157) 25%, transparent 25%, transparent 75%, rgba(92, 111, 219, 0.462745098) 75%, rgba(92, 111, 219, 0.5803921569)), repeating-linear-gradient(45deg, rgba(92, 111, 219, 0.5647058824) 25%, #e0e0f3 25%, #e5e5f7 75%, rgba(92, 111, 219, 0.4901960784) 75%, rgba(92, 111, 219, 0.5725490196));
  background-position: 0 0, 30px 30px;
  background-size: 60px 60px;
  padding: 0 20px;
}

nav a {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 100;
  font-weight: bold;
}

.nav-menu,
.drop-down-menu {
  list-style-type: none;
  color: pink;
}

.item {
  padding: 15px;
}

.item a:hover,
.item a:hover::after {
  background-color: rgb(0, 0, 0);
  color: white;
}

/* Mobile first */
.nav-menu {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.nav-menu li a {
  display: block;
  padding: 20px 10px;
}

.nav-menu li.drop-down-item a {
  padding: 17.5px;
}

.toggle {
  order: 1;
  font-size: 20px;
}

.item {
  order: 2;
  width: 100%;
  text-align: center;
  display: none;
}

.active .item {
  display: block;
}

/* drop-down menu mobile */
.drop-down-menu {
  display: none;
}

.drop-down i {
  font-size: 12px;
}

.drop-down-menu-active .drop-down-menu {
  display: block;
}

.drop-down > a::after {
  font-family: "Font Awesome 5 Free";
  font-size: 12px;
  line-height: 16px;
  font-weight: bold;
  content: "\f078";
  color: green;
  padding-left: 10px;
}

.drop-down-item a {
  padding: 20px 8px;
}

.drop-down-menu-active {
  background-color: yellow;
  border-radius: 3px;
}

/* Desktop menu */
@media all and (min-width: 960px) {
  .nav-menu {
    justify-content: center;
    flex-wrap: nowrap;
    background: none;
  }
  .logo {
    flex: 1;
    order: 0;
  }
  .item {
    order: 1;
    position: relative;
    display: block;
    width: auto;
  }
  .toggle {
    flex: 1;
    text-align: right;
    order: 2;
    display: none;
  }
  .drop-down-menu-active .drop-down-menu {
    display: block;
    position: absolute;
    left: 0;
    top: 75px;
  }
  .drop-down-menu-active {
    border-radius: 0;
  }
}
.fa-bars:before {
  color: black;
}

.site-footer {
  background-color: rgb(240, 240, 240);
  padding: 40px;
}

.site-footer hr {
  border-top-color: gray;
  opacity: 0.5;
}

.site-footer hr.small {
  margin: 20px 0;
}

.site-footer h6 {
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px;
}

.site-footer a {
  color: black;
}

.site-footer a:hover {
  color: gray;
  text-decoration: none;
}

.footer-links {
  padding-left: 0;
  list-style: none;
}

.footer-links li {
  display: block;
}

.footer-menu li {
  display: inline-block;
  margin-left: 20px;
}

.footer-menu li:hover a {
  color: gray;
}

.footer-menu li a {
  color: black;
}

.social-links > li {
  display: inline-block;
}

.footer-links a {
  font-size: 15px;
}

.overlay {
  padding: 30px;
}

@media (max-width: 700px) {
  .overlay h1 {
    font-size: 22px;
  }
}
@media (max-width: 700px) {
  .overlay p {
    font-size: 15px;
  }
}
.overlay p {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

.big-image {
  background-size: cover;
  background-reapeat: no-reapeat;
  background-position: 0 0;
  background: url("/assets/img/side-cupcakes.png");
  height: 80vh;
  width: 100vw;
  position: relative;
  background-position: 100% 100%;
  background-size: cover;
}

fieldset {
  padding: 5px;
  margin-bottom: 10px;
}

input {
  text-transform: lowercase;
  width: 40%;
  border: 2px solid;
  padding: 5px;
}

textarea {
  text-transform: lowercase;
  height: 160px;
  width: 40%;
  padding: 5px;
}

button {
  background-color: black;
  color: white;
}

.card {
  margin: 30px;
}/*# sourceMappingURL=main.css.map */